header{
    color:red;
    text-align: center;
    border-bottom: 2px solid black;
}

body{
    text-align: center;
    color: blue;
    background-color: gray;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.image-box {
    text-align: center;
}

.image-box img {
    width: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

footer{
    color:black;
    border-top: 2px solid black;
    text-align: center;
}
